/* color */
$white = #FFFFFF
$black = #28323C
$grey = #525C69
$grey2 = #DCDCDC
$grey3 = #788496
$grey4 = #A4A4A4
$red = #f73559
$blue = #0054b4
$red2 = #c02441
$text-grey = #5D6874

/* length */
$screen-width = 1920px
$middle-width = 1378px